body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0px auto;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 90px 0 90px;
  text-align: center;
  background-color: #112d69;
  color: white;
  max-width: 1000px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

a {
  cursor: pointer;
}
