body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0px auto;
}

body {
  margin-top: 100px;
  text-align: center;
  background-color: #020c12;
}

h1 {
  font-size: 40px;
  color: #bbddf0;
}

.timerFrame {
  box-sizing: border-box;
  padding-top: 60px;
  border: 3px solid #60a1c4;
  min-width: 180;
  max-width: 300px;
  height: 180px;
  border-radius: 4%;
}

p {
  color: white;
}

button,
.lapId {
  border: 1px solid #06354f;
  background-color: #5c97b8;
  font-size: 24px;
}

.lapId {
  padding: 0px 2px;
}

.lap {
  margin-bottom: 4px;
}

.lap-div {
  height: 600px;
  overflow: auto;
  width: 400px;
  margin: 0px auto;
}

button:hover {
  border: 1px solid #06354f;
  background-color: #74bfeb;
}
.ms {
  font-size: 0.6em;
}
